<!-- <?xml version="1.0"?> -->
<launch>
    <!-- <node name="serial_node" type="serial_node.py" pkg="rosserial_python">
        <param name="port" type="string" value="/dev/ttyACM0"/>
    </node> -->
    <node name="chassis" type="DriveController.py" pkg="henry_drive_control">
    </node>
    <node name="joy" type="joy_node" pkg="joy">
        <param name="dev" type="string" value="/dev/input/js0"/>
        <param name="deadzone" value="0.1"/>
    </node>
</launch>

